.container {
    @apply w-full max-w-sm sm:max-w-md md:max-w-lg lg:max-w-5xl bg-azure-50/20 mx-auto
}

.about {
    @apply text-sm text-sylver-700 my-8
}

.result {
    @apply w-full mb-8
}

.link {
    @apply text-xs cursor-pointer text-amethyst-800
}

.title {
    @apply truncate text-xl font-black py-0.5 text-kunzite-600
}

.snippet {
    @apply text-sm text-russian-400 line-clamp-2
}